<h1 class="mt-4">Client</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Clients</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-success" role="alert" *ngIf="messageSuccess">
                {{ messageSuccess }}
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="messageError">
                {{ messageError }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="newRegister()">
                <i class="fa fa-plus"></i> New
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>CPF</th>
                        <th>City</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>{{ client.id }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.cpf }}</td>
                        <td>{{ client.city }}</td>
                        <td>
                            <button class="btn btn-primary" 
                            routerLink="/client-form/{{client.id}}">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" (click)="prepareDelete(client)"
                                data-toggle="modal" data-target="#modalDeleting">
                                <i class="fa fa-trash"></i>
                            </button>
                    
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div id="modalDeleting" class="modal" fade role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirm</h4>
                </div>

                <div class="modal-body" *ngIf="clientSelected">
                    Confirm deleting this client {{ clientSelected.name }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deleteClient()" data-dismiss="modal">Confirm</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>