<h1 class="mt-4">Car</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-bitem active">Consult</li>
</ol>
<div class="container">
    <form #consultForm="ngForm" (submit)="consult()">

        <br />
        <div class="row">
            <div class="col-md-3">
                <button type="button" routerLink="/car/form" class="btn btn-warning ml-1">
                    <i class="fa fa-plus"></i> New
                </button>
            </div>
        </div>
    </form>

    <br />
    <div class="row">
        <div class="alert alert-warning" role="alert" *ngIf="message">
            {{ message }}
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Plate</th>
                        <th>ClientId</th>
                        <th>ClientName</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars">
                        <td>{{car.model}}</td>
                        <td>{{car.plate}}</td>
                        <td>{{car.clientId}}</td>
                        <td>{{car.clientName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>