<h1 class="mt-4"> Client</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
    <form>
        <div class="col-md-6">
            <div class="form-group">
                <label>ID: </label>
                <input type="text" 
                [ngModel]="client.id" name="id"
                class="form-control" disabled="true" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Name: </label>
                <input type="text" class="form-control"
                [(ngModel)]="client.name" name="name" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>CPF: </label>
                <input type="text" class="form-control" 
                [(ngModel)]="client.cpf" name="cpf"/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>City: </label>
                <input type="text" class="form-control"
                [(ngModel)]="client.city" name="city" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success" (click)="clicar()">
                    <i class="fa fa-save"></i> Salvar
                </button>

            </div>

        </div>



    </form>
</div>